<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>
    <body>
        <h3>demo</h3>
        <script src="/payloads/probed.js"></script>
        <script src="/payloads/lib/w2g.js"></script>
        <iframe id="iframe" sandbox="allow-same-origin" style="display: none"></iframe>
        <a href="/testpage">testpage</a>
        <div id="box">
            <input id="password" value="" type="password" />
        </div>
    </body>
</html>
