<div id="csrf_top">
	<select style="width:92px" id="csrftype" name="csrftype">
	  <option value="null">CSRF Type</option>
	  <option value="0">GET</option>
	  <option value="1">POST</option>
	 </select>
	 <select style="width:120px" id="csrflang" name="csrflang">
	  <option value="null">CSRF Language</option>
	  <option value="js">JavaScript</option>
	  <option value="as">Flash AS3</option>
	  <option value="asp">ASP</option>
	  <option value="php">PHP</option>
	  <option value="py">Python</option>
	 </select>
	 <input type="button" onclick="csrf_codz.lib();" value="CREATE YOUR CSRF!" />
	<br />
	<input type="text" id="csrfurl" name="csrfurl" value="http://site/submit.php" />
	<input type="text" id="csrfvalue" name="csrfvalue" value="name1=value1&name2=value2" />
	<br />
	<textarea id="csrf_textarea"></textarea>
</div>
	<br />
<div id="csrf_bottom">
<select disabled="disabled" style="width:170px" id="cd_get" name="cd_get">
  <option value="null">跨域获取数据</option>
  <option value="as">Flash AS3</option>
  <option value="asp">ASP</option>
  <option value="php">PHP</option>
  <option value="py">Python</option>
  <option value="json">JSON Hijacking</option>
</select>
<br />
<textarea id="csrf_textarea"></textarea>
</div>
