@charset "utf-8";
* {}
input, textarea, select, option{color:#333;}
textarea{background-color:#eee;border:1px;font-size:13px;}
html, body, ul, li, h1, h2, h3, h4, h5, h6, fieldset, legend {padding:0; margin:0;}
body {font:12px/normal Verdana, Arial, Helvetica, sans-serif;color: #d9d9d9;}
ul,li {list-style-type:none; text-transform:capitalize;}
p{padding:5px 0;}
.clear {clear:both; *display:inline;/*IE only*/}

/* HTML5 tags */
header, section, footer,aside, nav, article, figure {
	display: block;
}

a{font-size:13px;color:#d9d9d9;}
/*a:hover{color:#9e0028;}*/
a:hover {color:#09c;}

#sys_tip{
	position:absolute;
	left:370px;
	top:0px;
	width:auto;
	height:23px;
	font-size:14px;
	background:#9E0028;
	color:#d9d9d9;
	padding:4px 7px 0 7px;
	font-weight:bold;
	display:none;
	/*filter:alpha(opacity=30);
	opacity:0.7;*/
}

.ui-pnotify.stack-bottomright{
	right: auto;
	top: auto;
}
.red{color:#F11F34;}
.green{color:#93B018;}
.blue{color:#6AA0DD;}
.gray{color:#CCC;}

body {
	font-family: Arial;
	font-size: 95%;
	background-color: #333;
}

#pageWrap {
	width: 100%;
	/*min-width: 980px;*/
	background-color: transparent;
	margin: 10px auto;
}
#pageHead {
	margin:0; 
	padding:2px 0;
	border-bottom: 1px solid #444;
	position:relative;
	float:left;
}
.logout{font-size:10px;position:absolute;bottom:0;right:0;}
.logout a{color:#bbb;text-decoration: none;}
.logout a:hover{color:#006699;}

#pageBody {
	padding:0 10px;
	float:left;
}

#pageFoot {
	width:100%;
	text-align: center;
	padding:10px 0;
	float:left;
}

h1 {font-size: 40px;}

.clear{ clear: both; }

/* LOGIN 自动居中的一个技巧……margin:150px auto;对于IE不兼容……*/
.login{
	position:absolute;
	left:50%;
	top:50%;
	margin:-150px 0 0 -250px;
	width:500px;
	height:300px;
}
.login .text{color:#333;width:150px;}
.login .submit{color:#333;}
.login .error{font-size:12px;color:#a20000;}

.font10{font-size:10px;}
.font11{font-size:11px;}
.font12{font-size:12px;}
.font13{font-size:13px;}
.font14{font-size:14px;}

/*tabs 二级导航*/
.tabs {width:100%;height:35px;}
.tabs ul {display:block;padding:5px 0;}
.tabs li{float:left; border-left:1px solid #425776; font-size:14px;}
.tabs li a {display:block;font-size:14px;font-weight:bold;color:#76A03E; text-decoration:none; line-height:22px; padding:0 6px; margin:0 2px;}
.tabs li a:hover {font-size:14px;color:#fff; text-decoration:none; background:#76A03E;}
.selected {font-weight:bold;color:#fff;background:#76A03E;}
.selected:link {font-weight:bold;color:#fff;}
.selected:visited {font-weight:bold;color:#fff;}
.selected:active {font-weight:bold;color:#fff;}

/*tabs 三级导航*/
.tabs2 {width:100%;height:35px;}
.tabs2 ul {display:block;padding:5px 0;}
.tabs2 li{float:left; border-left:1px solid #425776; font-size:13px;}
.tabs2 li a {display:block;font-weight:bold;font-size:13px;color:#333; text-decoration:none; line-height:22px; padding:0 6px; margin:0 2px;}
.tabs2 li a:hover {font-weight:bold;font-size:13px;color:#333; text-decoration:none; background:#76A03E;}
.tabs2 .selected {font-weight:bold;color:#333;background:#76A03E;}
.tabs2 .selected:link {font-weight:bold;color:#333;}
.tabs2 .selected:visited {font-weight:bold;color:#333;}
.tabs2 .selected:active {font-weight:bold;color:#333;}

/*----------------------------------*/
/*Encode/Decode*/
/*----------------------------------*/
#ende_box{width:1000px;}
#ende_left{width:730px;height:500px;float:left;}
	#ende_textarea{width:724px;height:490px;color:#069;}
#ende_right{width:265px;height:500px;float:left;overflow:hidden;padding-left:5px;}
	#ende_right .arrow{font-size:18px;}
	#ende_right .button{font-size:13px;color:#111;padding:2px 5px;overflow:visible;}
	#message{display:none;}
	#charset{padding:2px 0px;overflow:visible;}

/*----------------------------------*/
/*CC*/
/*----------------------------------*/
/*控制面板*/
.w_nav{width:100%;}
.tabs_a2 {display:block;font-size:14px;font-weight:bold;color:#76A03E; text-decoration:none; line-height:22px; padding:5px 0;width:90px;}
.injxss_box{width:1000px;height:250px;padding:5px;border:1px solid #5B738F; background-color:#E0DDCC;}
.injxss_box *{color:#333;}
.injxss_box label{color:#d9d9d9;}
.injxss_box a{color:#333;text-decoration:none;}
#cmd_left{width:560px;float:left;}
#injxss_textarea{width:550px;height:180px;font-size:13px;background-color:#fff;border:1px solid #76A03E;}
#cmd_right{width:430px;float:left;}
#injxss_codz_select{border:1px solid #76A03E;width:120px;}
#injxss_codz_value{width:320px;border:1px solid #76A03E;}
.injxss_btn{width:50px;line-height:16px;}
#injxss_codz_help{
	padding:5px 0;color:#333;width:426px;height:150px;word-break:break-all;word-warp:warp;
	overflow-x: hidden; overflow-y: auto;
}

.execute_btn{width:50px;line-height:16px;}
#ping_range{width:210px;border:1px solid #76A03E;}
#ping_timeout{width:60px;border:1px solid #76A03E;}

#port_host{width:110px;border:1px solid #76A03E;}
#port_range{width:50px;border:1px solid #76A03E;}
#port_timeout{width:60px;border:1px solid #76A03E;}

#key_dom{width:300px;border:1px solid #76A03E;}

.cc_help{color:#666;}

/*过滤器*/
#zombie_filter{padding:0 0 5px 0;}
#filter_search_val{width:300px;}
#filter_search_btn{width:70px;}

.w_list{padding:10px 0;}
.w_table{width:100%;font-size:13px;border-left:1px solid #5B738F;border-right:1px solid #5B738F;}
.w_table th {
	padding:6px 2px;
	font-weight:blod;
	background:#5B738F;
	color:#eee;
	line-height:20px;
	height:30px;
	text-align:left;
}
.w_table td {
	padding:6px 2px;
	border-bottom:1px solid #5B738F;
	vertical-align:top;
	text-align:center;
	text-align:left;
}
.w_table tr a {color:#333;}
.w_table tr.odd {
	background:#F3F2EB;
	color: #222;
}
.w_table tr.even{
	background:#E0DDCC;
	color: #222;
}
.w_table tr.life_live{
	color: #f00;
}
.right{float:right;}
.left{float:left;}
#queryip_a{font-weight:bold; text-decoration:none; color:#5B738F;}

/*report*/

#report_title {font-size:18px;font-weight:bold; padding:10px 0; color:#76A03E;}
.report_title2 {display:block;padding:5px 0;font-size:14px;font-weight:bold;color:#76A03E;}
#report_base {padding:5px 0;}
#report_detail {padding:5px 0;}
.report_detail_title{padding:5px;}
.report_detail_box{width:790px;border:1px solid #76A03E;background:#F3F2EB;color:#333;padding:5px;word-break:break-all;word-warp:warp;overflow:hidden;}
.report_detail_box .date{color:#777;font-size:1em;}
.report_detail_box .detail{padding:0 0 3px 0;}

.report_table{width:800px;font-size:13px;border-left:1px solid #76A03E;border-right:1px solid #76A03E;}
.report_table th {
	padding:6px 2px;
	font-weight:blod;
	background:#ccc;
	color:#333;
	line-height:20px;
	height:30px;
	text-align:left;
}
.report_table td {
	color:#333;
	padding:3px 2px;
	border-bottom:1px solid #ccc;
	vertical-align:top;
	text-align:center;
	text-align:left;
	background:#F3F2EB;
	word-break:break-all;word-warp:warp;
}
.report_table tr a {color:#333;}
.report_table .green{font-weight:bold;color:#76A03E;}
.report_table .red{font-weight:bold;color:#F11F34;}

#desc_box_inner{
	padding:15px;
}
#desc_value{width:270px;}
.desc_box_button{width:60px;height:20px;}

/*----------------------------------*/
/*Codz*/
/*----------------------------------*/
#addcodz_a {display:block;font-size:13px;text-decoration:none;line-height:22px;width:90px;}
#addcodz_box{width:1000px;height:216px;padding:10px 0 0 0;}
#addcodz_box *{color:#333;}
#addcodz_box label{color:#d9d9d9;}
#codz_div{width:500px;float:left;margin-bottom:2px;}
#desc_div{margin-left:10px;width:470px;float:left;margin-bottom:2px;}
#codz_textarea{width:500px;height:180px;font-size:13px;}
#desc_textarea{width:450px;height:180px;font-size:13px;}
#addcodz_cate{width:120px;}
#addcodz_author{width:120px;}
#detail_codz{width:790px;float:left;}
#detail_desc{width:790px;float:left;}
/*xssworm*/
#worm_left{width:710px;height:470px;float:left;}
	#worm_codz{width:704px;height:450px;}
#worm_right{width:268px;margin-left:2px;height:470px;float:left;overflow:hidden;}
/*csrfcodz*/
#csrf_top{width:980px;height:250px;float:left;}
	#csrfurl{width:378px;}
	#csrfvalue{width:500px;}
	#csrf_textarea{width:974px;height:200px;margin-top:2px;}
#csrf_bottom{width:980px;height:220px;float:left;}
	#csrf_textarea{width:974px;height:200px;}
/*codzauto*/
#tab_codzauto{width:1000px;}
#ca_left{width:730px;height:500px;float:left;}
	#ca_blank{width:730px; padding:0 0 5px 0;}
	#ca_method{width:70px;}
	#ca_action{width:250px;}
	#ca_kv{width:396px;}
	#ca_textarea{width:724px;height:450px;color:#069;}
#ca_right{width:265px;height:500px;float:left;}

/*xssmisc*/
#xssmisc_textarea{width:974px;height:450px;}

#del_box_inner{
	padding:25px 10px 0 10px;
	text-align:center;
}
.del_box_button{width:70px;height:20px;margin:0 10px;}

/*----------------------------------*/
/* HTTP */
/*----------------------------------*/
#hv_url {width:600px;height:26px;font-size:14px;line-height:22px;}
#hv_method {width:60px;}
#hv_execute {width:80px;height:28px;}
#hv_req_headers{width:750px;height:100px;font-size:14px;}
#hv_postdata {width:750px;height:26px;font-size:14px;line-height:22px;}
#hv_response{width:750px;height:300px;}

#regx_value{width:350px;}
#regx_check{width:50px;}
#regx_textarea{width:724px;height:370px;}

/*---------------------------------*/
/* SETTING */
/*---------------------------------*/
#form_pwd{width:500px;}
#form_pwd .text {width:300px;}
#form_pwd .btn {width:100px;height:30px;font-size:14px;line-height:30px;}
#form_pwd th {font-size:13px;font-weight:normal;text-align:right;padding-right:5px;}
#form_pwd .msg {color:#f00;font-size:13px;}
#form_pwd_field{border:1px solid #76A03E;padding:5px;}
#form_pwd_title{font-size:16px;font-weight:bold;color:#76A03E;}


